#
# Structure for the `stock_defect_status` table : 
#

DROP TABLE IF EXISTS `stock_defect_status`;

CREATE TABLE `stock_defect_status` (
  `DEFECT_STATUS_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEFECT_STATUS_NAME` VARCHAR(100) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  PRIMARY KEY (`DEFECT_STATUS_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `stock_defect` table : 
#

DROP TABLE IF EXISTS `stock_defect`;

CREATE TABLE `stock_defect` (
  `STOCK_DEFECT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `QUANTITY` INTEGER(10) UNSIGNED ZEROFILL NOT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT '1',
  `DELFLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `DEFECT_STATUS_ID` INTEGER(10) UNSIGNED NOT NULL,
  `STOCK_ID` INTEGER(10) UNSIGNED NOT NULL,
  PRIMARY KEY (`STOCK_DEFECT_ID`),
  KEY `FK_stock_defect_1` (`PRODUCT_ID`),
  KEY `FK_stock_defect_2` (`PRODUCT_MASTER_ID`),
  KEY `FK_stock_defect_3` (`DEFECT_STATUS_ID`),
  KEY `FK_stock_defect_4` (`STOCK_ID`),
  CONSTRAINT `FK_stock_defect_4` FOREIGN KEY (`STOCK_ID`) REFERENCES `stock` (`STOCK_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_stock_defect_1` FOREIGN KEY (`PRODUCT_ID`) REFERENCES `product` (`PRODUCT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_stock_defect_2` FOREIGN KEY (`PRODUCT_MASTER_ID`) REFERENCES `product_master` (`PRODUCT_MASTER_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_stock_defect_3` FOREIGN KEY (`DEFECT_STATUS_ID`) REFERENCES `stock_defect_status` (`DEFECT_STATUS_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Data for the `stock_defect_status` table  (LIMIT 0,500)
#

INSERT INTO `stock_defect_status` (`DEFECT_STATUS_ID`, `DEFECT_STATUS_NAME`) VALUES 
  (1,'Lỗi'),
  (2,'Hư'),
  (3,'Mất');
COMMIT;