#
# Structure for the `stock_defect_status` table : 
#

DROP TABLE IF EXISTS `stock_defect_status`;

CREATE TABLE `stock_defect_status` (
  `DEFECT_STATUS_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEFECT_STATUS_NAME` VARCHAR(100) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  PRIMARY KEY (`DEFECT_STATUS_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `stock_defect` table : 
#

DROP TABLE IF EXISTS `stock_defect`;

CREATE TABLE `stock_defect` (
  `STOCK_DEFECT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `QUANTITY` INTEGER(10) UNSIGNED ZEROFILL NOT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT '1',
  `DELFLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `DEFECT_STATUS_ID` INTEGER(10) UNSIGNED NOT NULL,
  `STOCK_ID` INTEGER(10) UNSIGNED NOT NULL,
  PRIMARY KEY (`STOCK_DEFECT_ID`),
  KEY `FK_stock_defect_1` (`PRODUCT_ID`),
  KEY `FK_stock_defect_2` (`PRODUCT_MASTER_ID`),
  KEY `FK_stock_defect_3` (`DEFECT_STATUS_ID`),
  KEY `FK_stock_defect_4` (`STOCK_ID`),
  CONSTRAINT `FK_stock_defect_4` FOREIGN KEY (`STOCK_ID`) REFERENCES `stock` (`STOCK_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_stock_defect_1` FOREIGN KEY (`PRODUCT_ID`) REFERENCES `product` (`PRODUCT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_stock_defect_2` FOREIGN KEY (`PRODUCT_MASTER_ID`) REFERENCES `product_master` (`PRODUCT_MASTER_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_stock_defect_3` FOREIGN KEY (`DEFECT_STATUS_ID`) REFERENCES `stock_defect_status` (`DEFECT_STATUS_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Data for the `stock_defect_status` table  (LIMIT 0,500)
#

INSERT INTO `stock_defect_status` (`DEFECT_STATUS_ID`, `DEFECT_STATUS_NAME`) VALUES 
  (1,'Lỗi'),
  (2,'Hư'),
  (3,'Mất');
COMMIT;

DROP TABLE IF EXISTS `stock_out_detail`;

CREATE TABLE `stock_out_detail` (
  `STOCK_OUT_DETAIL_ID` INTEGER(11) UNSIGNED NOT NULL,
  `STOCK_OUT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci DEFAULT NULL,
  `STOCKOUT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `QUANTITY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `DEFECT_STATUS_ID` INTEGER(10) UNSIGNED NULL,
  `DESCRIPTION` VARCHAR(500) NULL,
  PRIMARY KEY (`STOCK_OUT_DETAIL_ID`),
  KEY `STOCK_OUT_DETAIL_FKIndex1` (`PRODUCT_ID`),
  KEY `STOCK_OUT_DETAIL_FKIndex2` (`STOCKOUT_ID`),
  CONSTRAINT `stock_out_detail_ibfk_1` FOREIGN KEY (`PRODUCT_ID`) REFERENCES `product` (`PRODUCT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `stock_out_detail_ibfk_2` FOREIGN KEY (`STOCKOUT_ID`) REFERENCES `stock_out` (`STOCKOUT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

DROP TABLE IF EXISTS `department_stock_out_detail`;

CREATE TABLE `department_stock_out_detail` (
  `DEPARTMENT_STOCK_OUT_DETAIL_ID` INTEGER(11) UNSIGNED NOT NULL,
  `STOCK_OUT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci DEFAULT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `QUANTITY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DESCRIPTION` VARCHAR(5000) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `DESCRIPTION` VARCHAR(500) NULL,
  PRIMARY KEY (`STOCK_OUT_ID`, `PRODUCT_ID`, `DEPARTMENT_ID`),
  KEY `DEPARTMENT_STOCK_OUT_DETAIL_FKIndex1` (`STOCK_OUT_ID`, `DEPARTMENT_ID`),
  KEY `DEPARTMENT_STOCK_OUT_DETAIL_FKIndex2` (`PRODUCT_ID`),
  CONSTRAINT `department_stock_out_detail_ibfk_1` FOREIGN KEY (`STOCK_OUT_ID`, `DEPARTMENT_ID`) REFERENCES `department_stock_out` (`STOCK_OUT_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `department_stock_out_detail_ibfk_2` FOREIGN KEY (`PRODUCT_ID`) REFERENCES `product` (`PRODUCT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';
