# SQL Manager 2007 for MySQL 4.4.1.2
# ---------------------------------------
# Host     : localhost
# Port     : 3306
# Database : pos


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;

SET FOREIGN_KEY_CHECKS=0;

DROP DATABASE IF EXISTS `pos`;

CREATE DATABASE `pos`
    CHARACTER SET 'utf8'
    COLLATE 'utf8_general_ci';

USE `pos`;

#
# Structure for the `block_in` table : 
#

DROP TABLE IF EXISTS `block_in`;

CREATE TABLE `block_in` (
  `BLOCK_ID` INTEGER(10) UNSIGNED NOT NULL,
  `BLOCK_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `IMPORT_DATE` DATETIME DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`BLOCK_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `block_in_cost` table : 
#

DROP TABLE IF EXISTS `block_in_cost`;

CREATE TABLE `block_in_cost` (
  `BLOCK_ID` INTEGER(10) UNSIGNED NOT NULL,
  `COST_TYPE` INTEGER(10) UNSIGNED NOT NULL,
  `COST` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`BLOCK_ID`, `COST_TYPE`),
  KEY `BLOCK_IN_COST_FKIndex1` (`BLOCK_ID`),
  CONSTRAINT `block_in_cost_ibfk_1` FOREIGN KEY (`BLOCK_ID`) REFERENCES `block_in` (`BLOCK_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `block_in_detail` table : 
#

DROP TABLE IF EXISTS `block_in_detail`;

CREATE TABLE `block_in_detail` (
  `BLOCK_ID` INTEGER(10) UNSIGNED NOT NULL,
  `BLOCK_DETAIL_ID` VARCHAR(10) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `DETAIL_VALUE` VARCHAR(5000) COLLATE utf8_general_ci DEFAULT NULL,
  `MANUFACTURE_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `PACKAGER_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `COUNTRY_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `SUPPLIER_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `STOCK_IN_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `IMPORT_DATE` DATETIME DEFAULT NULL,
  PRIMARY KEY (`BLOCK_ID`, `BLOCK_DETAIL_ID`),
  KEY `BLOCK_IN_DETAIL_FKIndex1` (`BLOCK_ID`),
  CONSTRAINT `block_in_detail_ibfk_1` FOREIGN KEY (`BLOCK_ID`) REFERENCES `block_in` (`BLOCK_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `category` table : 
#

DROP TABLE IF EXISTS `category`;

CREATE TABLE `category` (
  `CATEGORY_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PARENT_CATEGORY_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CATEGORY_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`CATEGORY_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department` table : 
#

DROP TABLE IF EXISTS `department`;

CREATE TABLE `department` (
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `ADDRESS` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `MANAGER_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `ACTIVE` INTEGER(1) UNSIGNED DEFAULT '0',
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `START_DATE` DATETIME DEFAULT NULL,
  PRIMARY KEY (`DEPARTMENT_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `employee` table : 
#

DROP TABLE IF EXISTS `employee`;

CREATE TABLE `employee` (
  `EMPLOYEE_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `START_DATE` DATETIME DEFAULT NULL,
  PRIMARY KEY (`EMPLOYEE_ID`, `DEPARTMENT_ID`),
  KEY `EMPLOYEE_FKIndex1` (`DEPARTMENT_ID`),
  CONSTRAINT `employee_ibfk_1` FOREIGN KEY (`DEPARTMENT_ID`) REFERENCES `department` (`DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `contract` table : 
#

DROP TABLE IF EXISTS `contract`;

CREATE TABLE `contract` (
  `CONTRACT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `CONTRACT_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CONTRACT_TYPE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `START_DATE` DATETIME DEFAULT NULL,
  `END_DATE` DATETIME DEFAULT NULL,
  `EMPLOYEE_ID` VARCHAR(20) COLLATE utf8_general_ci DEFAULT '',
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`CONTRACT_ID`, `DEPARTMENT_ID`),
  KEY `CONTRACT_FKIndex1` (`EMPLOYEE_ID`, `DEPARTMENT_ID`),
  CONSTRAINT `contract_ibfk_1` FOREIGN KEY (`EMPLOYEE_ID`, `DEPARTMENT_ID`) REFERENCES `employee` (`EMPLOYEE_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `country` table : 
#

DROP TABLE IF EXISTS `country`;

CREATE TABLE `country` (
  `COUNTRY_ID` INTEGER(10) UNSIGNED NOT NULL,
  `COUNTRY_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`COUNTRY_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `coupon_type` table : 
#

DROP TABLE IF EXISTS `coupon_type`;

CREATE TABLE `coupon_type` (
  `COUPON_TYPE_ID` INTEGER(10) UNSIGNED NOT NULL,
  `COUPON_TYPE_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`COUPON_TYPE_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `coupon` table : 
#

DROP TABLE IF EXISTS `coupon`;

CREATE TABLE `coupon` (
  `COUPON_ID` INTEGER(10) UNSIGNED NOT NULL,
  `COUPON_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `COUPON_TYPE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DISCOUNT_VALUE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DISCOUNT_PERCENT` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`COUPON_ID`),
  KEY `COUPON_FKIndex1` (`COUPON_TYPE`),
  CONSTRAINT `coupon_ibfk_1` FOREIGN KEY (`COUPON_TYPE`) REFERENCES `coupon_type` (`COUPON_TYPE_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `customer` table : 
#

DROP TABLE IF EXISTS `customer`;

CREATE TABLE `customer` (
  `CUSTOMER_ID` INTEGER(10) UNSIGNED NOT NULL,
  `CUSTOMER_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `MONEY_SPENT` INTEGER(10) UNSIGNED DEFAULT NULL,
  `BUY_COUNT` INTEGER(10) UNSIGNED DEFAULT NULL,
  `NEAREST_COME_1` DATETIME DEFAULT NULL,
  `NEAREST_COME_2` DATETIME DEFAULT NULL,
  `NEAREST_COME_3` DATETIME DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`CUSTOMER_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `customer_detail` table : 
#

DROP TABLE IF EXISTS `customer_detail`;

CREATE TABLE `customer_detail` (
  `CUSTOMER_ID` INTEGER(10) UNSIGNED NOT NULL,
  `ADDRESS` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `COUNTRY_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `BIRTHDAY` DATE DEFAULT NULL,
  `PASSPORT_NUMBER` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CMND` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `MONEY_SPENT` INTEGER(10) UNSIGNED DEFAULT NULL,
  `BUY_COUNT` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`CUSTOMER_ID`),
  KEY `CUSTOMER_DETAIL_FKIndex1` (`CUSTOMER_ID`),
  CONSTRAINT `customer_detail_ibfk_1` FOREIGN KEY (`CUSTOMER_ID`) REFERENCES `customer` (`CUSTOMER_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department_cost` table : 
#

DROP TABLE IF EXISTS `department_cost`;

CREATE TABLE `department_cost` (
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `COST_DATE` DATETIME NOT NULL,
  `COST_TYPE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `COST_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `COST_DESCRIPTION` VARCHAR(5000) COLLATE utf8_general_ci DEFAULT NULL,
  `COST` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`DEPARTMENT_ID`, `COST_DATE`),
  KEY `DEPARTMENT_COST_FKIndex1` (`DEPARTMENT_ID`),
  CONSTRAINT `department_cost_ibfk_1` FOREIGN KEY (`DEPARTMENT_ID`) REFERENCES `department` (`DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department_price` table : 
#

DROP TABLE IF EXISTS `department_price`;

CREATE TABLE `department_price` (
  `DEPARTMENT_ID` INTEGER(11) NOT NULL,
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRICE` INTEGER(11) NOT NULL DEFAULT '0',
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(11) DEFAULT NULL,
  `DEL_FLG` INTEGER(11) DEFAULT '0',
  PRIMARY KEY (`DEPARTMENT_ID`, `PRODUCT_MASTER_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `distributor` table : 
#

DROP TABLE IF EXISTS `distributor`;

CREATE TABLE `distributor` (
  `DISTRIBUTOR_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DISTRIBUTOR_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`DISTRIBUTOR_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `manufacturer` table : 
#

DROP TABLE IF EXISTS `manufacturer`;

CREATE TABLE `manufacturer` (
  `MANUFACTURER_ID` INTEGER(10) UNSIGNED NOT NULL,
  `MANUFACTURER_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`MANUFACTURER_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `packager` table : 
#

DROP TABLE IF EXISTS `packager`;

CREATE TABLE `packager` (
  `PACKAGER_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PACKAGER_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`PACKAGER_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `product_color` table : 
#

DROP TABLE IF EXISTS `product_color`;

CREATE TABLE `product_color` (
  `COLOR_ID` INTEGER(10) UNSIGNED NOT NULL,
  `COLOR_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`COLOR_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `product_size` table : 
#

DROP TABLE IF EXISTS `product_size`;

CREATE TABLE `product_size` (
  `SIZE_ID` INTEGER(10) UNSIGNED NOT NULL,
  `SIZE_NAME` VARCHAR(500) COLLATE utf8_bin DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`SIZE_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `product_type` table : 
#

DROP TABLE IF EXISTS `product_type`;

CREATE TABLE `product_type` (
  `TYPE_ID` INTEGER(10) UNSIGNED NOT NULL,
  `TYPE_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`TYPE_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `product_master` table : 
#

DROP TABLE IF EXISTS `product_master`;

CREATE TABLE `product_master` (
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `DESCRIPTION` VARCHAR(5000) COLLATE utf8_general_ci DEFAULT NULL,
  `IMAGE_PATH` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CATEGORY_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `COUNTRY_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `TYPE_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `SIZE_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `UNIT_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `COLOR_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `MANUFACTURER_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `SUPPLIER_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `PACKAGER_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DISTRIBUTOR_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `BARCODE` VARCHAR(13) COLLATE utf8_general_ci DEFAULT NULL,
  PRIMARY KEY (`PRODUCT_MASTER_ID`),
  KEY `PRODUCT_MASTER_FKIndex1` (`CATEGORY_ID`),
  KEY `PRODUCT_MASTER_FKIndex2` (`TYPE_ID`),
  KEY `PRODUCT_MASTER_FKIndex3` (`SIZE_ID`),
  KEY `PRODUCT_MASTER_FKIndex4` (`COLOR_ID`),
  KEY `PRODUCT_MASTER_FKIndex5` (`MANUFACTURER_ID`),
  KEY `PRODUCT_MASTER_FKIndex6` (`PACKAGER_ID`),
  KEY `PRODUCT_MASTER_FKIndex7` (`DISTRIBUTOR_ID`),
  KEY `PRODUCT_MASTER_FKIndex8` (`COUNTRY_ID`),
  CONSTRAINT `product_master_ibfk_1` FOREIGN KEY (`CATEGORY_ID`) REFERENCES `category` (`CATEGORY_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `product_master_ibfk_2` FOREIGN KEY (`TYPE_ID`) REFERENCES `product_type` (`TYPE_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `product_master_ibfk_3` FOREIGN KEY (`SIZE_ID`) REFERENCES `product_size` (`SIZE_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `product_master_ibfk_4` FOREIGN KEY (`COLOR_ID`) REFERENCES `product_color` (`COLOR_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `product_master_ibfk_5` FOREIGN KEY (`MANUFACTURER_ID`) REFERENCES `manufacturer` (`MANUFACTURER_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `product_master_ibfk_6` FOREIGN KEY (`PACKAGER_ID`) REFERENCES `packager` (`PACKAGER_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `product_master_ibfk_7` FOREIGN KEY (`DISTRIBUTOR_ID`) REFERENCES `distributor` (`DISTRIBUTOR_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `product_master_ibfk_8` FOREIGN KEY (`COUNTRY_ID`) REFERENCES `country` (`COUNTRY_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `product` table : 
#

DROP TABLE IF EXISTS `product`;

CREATE TABLE `product` (
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci DEFAULT NULL,
  `BLOCK_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `BLOCK_DETAIL_ID` VARCHAR(10) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `QUANTITY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `PRICE` INTEGER(10) UNSIGNED DEFAULT NULL,
  PRIMARY KEY (`PRODUCT_ID`),
  KEY `PRODUCT_FKIndex1` (`PRODUCT_MASTER_ID`),
  KEY `PRODUCT_FKIndex2` (`BLOCK_ID`, `BLOCK_DETAIL_ID`),
  CONSTRAINT `product_ibfk_1` FOREIGN KEY (`PRODUCT_MASTER_ID`) REFERENCES `product_master` (`PRODUCT_MASTER_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `product_ibfk_2` FOREIGN KEY (`BLOCK_ID`, `BLOCK_DETAIL_ID`) REFERENCES `block_in_detail` (`BLOCK_ID`, `BLOCK_DETAIL_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `promotion` table : 
#

DROP TABLE IF EXISTS `promotion`;

CREATE TABLE `promotion` (
  `PROMOTION_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PROMOTION_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `DISCOUNT_PRICE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DISCOUNT_PERCENT` INTEGER(10) UNSIGNED DEFAULT NULL,
  `PROMOTION_TYPE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `GIFT_PRODUCT_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`PROMOTION_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department_promotion` table : 
#

DROP TABLE IF EXISTS `department_promotion`;

CREATE TABLE `department_promotion` (
  `DEPARTMENT_PROMOTION_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PROMOTION_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `START_DATE` DATETIME DEFAULT NULL,
  `END_DATE` DATETIME DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`DEPARTMENT_PROMOTION_ID`),
  KEY `DEPARTMENT_PROMOTION_FKIndex1` (`PROMOTION_ID`),
  KEY `DEPARTMENT_PROMOTION_FKIndex2` (`PRODUCT_ID`),
  CONSTRAINT `department_promotion_ibfk_1` FOREIGN KEY (`PROMOTION_ID`) REFERENCES `promotion` (`PROMOTION_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `department_promotion_ibfk_2` FOREIGN KEY (`PRODUCT_ID`) REFERENCES `product` (`PRODUCT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department_return` table : 
#

DROP TABLE IF EXISTS `department_return`;

CREATE TABLE `department_return` (
  `DEPARTMENT_RETURN_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci DEFAULT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `RETURN_STATUS` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`DEPARTMENT_RETURN_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department_return_cost` table : 
#

DROP TABLE IF EXISTS `department_return_cost`;

CREATE TABLE `department_return_cost` (
  `DEPARTMENT_RETURN_ID` INTEGER(10) UNSIGNED NOT NULL,
  `COST_TYPE` INTEGER(10) UNSIGNED NOT NULL,
  `COST` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`DEPARTMENT_RETURN_ID`, `COST_TYPE`),
  KEY `DEPARTMENT_RETURN_COST_FKIndex1` (`DEPARTMENT_RETURN_ID`),
  CONSTRAINT `department_return_cost_ibfk_1` FOREIGN KEY (`DEPARTMENT_RETURN_ID`) REFERENCES `department_return` (`DEPARTMENT_RETURN_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department_return_detail` table : 
#

DROP TABLE IF EXISTS `department_return_detail`;

CREATE TABLE `department_return_detail` (
  `DEPARTMENT_RETURN_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci DEFAULT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `QUANTITY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DESCRIPTION` VARCHAR(5000) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`DEPARTMENT_RETURN_ID`, `PRODUCT_ID`, `DEPARTMENT_ID`),
  KEY `DEPARTMENT_RETURN_DETAIL_FKIndex1` (`DEPARTMENT_RETURN_ID`),
  CONSTRAINT `department_return_detail_ibfk_1` FOREIGN KEY (`DEPARTMENT_RETURN_ID`) REFERENCES `department_return` (`DEPARTMENT_RETURN_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department_stock` table : 
#

DROP TABLE IF EXISTS `department_stock`;

CREATE TABLE `department_stock` (
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci DEFAULT NULL,
  `QUANTITY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `ON_STORE_PRICE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`DEPARTMENT_ID`, `PRODUCT_ID`),
  KEY `DEPARTMENT_STOCK_FKIndex1` (`PRODUCT_ID`),
  CONSTRAINT `department_stock_ibfk_1` FOREIGN KEY (`PRODUCT_ID`) REFERENCES `product` (`PRODUCT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department_stock_defect` table : 
#

DROP TABLE IF EXISTS `department_stock_defect`;

CREATE TABLE `department_stock_defect` (
  `DEPARTMENT_STOCK_DEFECT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `QUANTITY` INTEGER(10) UNSIGNED NOT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT '1',
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `DESCRIPTION` VARCHAR(200) COLLATE utf8_general_ci DEFAULT NULL,
  `GOOD_COUNT` INTEGER(10) UNSIGNED DEFAULT '0',
  `ERROR_COUNT` INTEGER(10) UNSIGNED DEFAULT '0',
  `DAMAGE_COUNT` INTEGER(10) UNSIGNED DEFAULT '0',
  `LOST_COUNT` INTEGER(10) UNSIGNED DEFAULT '0',
  `UNCONFIRM_COUNT` INTEGER(10) UNSIGNED DEFAULT '0',
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  PRIMARY KEY (`DEPARTMENT_STOCK_DEFECT_ID`, `DEPARTMENT_ID`),
  KEY `FK_department_stock_defect_1` (`PRODUCT_ID`),
  KEY `FK_department_stock_defect_2` (`PRODUCT_MASTER_ID`),
  KEY `FK_department_stock_defect_3` (`DEPARTMENT_ID`, `PRODUCT_ID`),
  CONSTRAINT `FK_department_stock_defect_1` FOREIGN KEY (`PRODUCT_ID`) REFERENCES `product` (`PRODUCT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_department_stock_defect_2` FOREIGN KEY (`PRODUCT_MASTER_ID`) REFERENCES `product_master` (`PRODUCT_MASTER_ID`),
  CONSTRAINT `FK_department_stock_defect_3` FOREIGN KEY (`DEPARTMENT_ID`, `PRODUCT_ID`) REFERENCES `department_stock` (`DEPARTMENT_ID`, `PRODUCT_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department_stock_in` table : 
#

DROP TABLE IF EXISTS `department_stock_in`;

CREATE TABLE `department_stock_in` (
  `STOCK_IN_ID` VARCHAR(15) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `STOCK_IN_DATE` DATETIME DEFAULT NULL,
  `DESCRIPTION` VARCHAR(2000) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`STOCK_IN_ID`, `DEPARTMENT_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department_stock_in_cost` table : 
#

DROP TABLE IF EXISTS `department_stock_in_cost`;

CREATE TABLE `department_stock_in_cost` (
  `STOCK_IN_ID` VARCHAR(15) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `COST_TYPE` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `COST` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`STOCK_IN_ID`, `COST_TYPE`, `DEPARTMENT_ID`),
  KEY `DEPARTMENT_STOCK_IN_COST_FKIndex1` (`STOCK_IN_ID`, `DEPARTMENT_ID`),
  CONSTRAINT `department_stock_in_cost_ibfk_1` FOREIGN KEY (`STOCK_IN_ID`, `DEPARTMENT_ID`) REFERENCES `department_stock_in` (`STOCK_IN_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department_stock_in_detail` table : 
#

DROP TABLE IF EXISTS `department_stock_in_detail`;

CREATE TABLE `department_stock_in_detail` (
  `STOCK_IN_ID` VARCHAR(15) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci DEFAULT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `QUANTITY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `PRICE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `ON_STORE_PRICE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `SOLD` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`STOCK_IN_ID`, `PRODUCT_ID`, `DEPARTMENT_ID`),
  KEY `DEPARTMENT_STOCK_IN_DETAIL_FKIndex1` (`STOCK_IN_ID`, `DEPARTMENT_ID`),
  KEY `DEPARTMENT_STOCK_IN_DETAIL_FKIndex2` (`PRODUCT_ID`),
  CONSTRAINT `department_stock_in_detail_ibfk_1` FOREIGN KEY (`STOCK_IN_ID`, `DEPARTMENT_ID`) REFERENCES `department_stock_in` (`STOCK_IN_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `department_stock_in_detail_ibfk_2` FOREIGN KEY (`PRODUCT_ID`) REFERENCES `product` (`PRODUCT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department_stock_out` table : 
#

DROP TABLE IF EXISTS `department_stock_out`;

CREATE TABLE `department_stock_out` (
  `STOCK_OUT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `STOCK_OUT_DATE` DATETIME DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `DESCRIPTION` VARCHAR(200) COLLATE utf8_general_ci DEFAULT NULL,
  `DEFECT_STATUS_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CONFIRM_FLG` INTEGER(10) UNSIGNED NOT NULL DEFAULT '0' COMMENT 'Neu tra cho nha sx thi confirm flag = 1',
  PRIMARY KEY (`STOCK_OUT_ID`, `DEPARTMENT_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department_stock_out_cost` table : 
#

DROP TABLE IF EXISTS `department_stock_out_cost`;

CREATE TABLE `department_stock_out_cost` (
  `STOCK_OUT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `COST_TYPE` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `COST` INTEGER(10) UNSIGNED NOT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`STOCK_OUT_ID`, `COST_TYPE`, `DEPARTMENT_ID`),
  KEY `DEPARTMENT_STOCK_OUT_COST_FKIndex1` (`STOCK_OUT_ID`, `DEPARTMENT_ID`),
  CONSTRAINT `department_stock_out_cost_ibfk_1` FOREIGN KEY (`STOCK_OUT_ID`, `DEPARTMENT_ID`) REFERENCES `department_stock_out` (`STOCK_OUT_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `department_stock_out_detail` table : 
#

DROP TABLE IF EXISTS `department_stock_out_detail`;

CREATE TABLE `department_stock_out_detail` (
  `STOCK_OUT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci DEFAULT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `QUANTITY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DESCRIPTION` VARCHAR(5000) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `DEFECT_STATUS_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  PRIMARY KEY (`STOCK_OUT_ID`, `PRODUCT_ID`, `DEPARTMENT_ID`),
  KEY `DEPARTMENT_STOCK_OUT_DETAIL_FKIndex1` (`STOCK_OUT_ID`, `DEPARTMENT_ID`),
  KEY `DEPARTMENT_STOCK_OUT_DETAIL_FKIndex2` (`PRODUCT_ID`),
  CONSTRAINT `department_stock_out_detail_ibfk_1` FOREIGN KEY (`STOCK_OUT_ID`, `DEPARTMENT_ID`) REFERENCES `department_stock_out` (`STOCK_OUT_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `department_stock_out_detail_ibfk_2` FOREIGN KEY (`PRODUCT_ID`) REFERENCES `product` (`PRODUCT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `employee_dayoff` table : 
#

DROP TABLE IF EXISTS `employee_dayoff`;

CREATE TABLE `employee_dayoff` (
  `EMPLOYEE_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `DAYOFF_TIME` DATETIME NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`EMPLOYEE_ID`, `DAYOFF_TIME`, `DEPARTMENT_ID`),
  KEY `EMPLOYEE_DAYOFF_FKIndex1` (`EMPLOYEE_ID`, `DEPARTMENT_ID`),
  CONSTRAINT `employee_dayoff_ibfk_1` FOREIGN KEY (`EMPLOYEE_ID`, `DEPARTMENT_ID`) REFERENCES `employee` (`EMPLOYEE_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `employee_info` table : 
#

DROP TABLE IF EXISTS `employee_info`;

CREATE TABLE `employee_info` (
  `EMPLOYEE_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `EMPLOYEE_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `ADDRESS` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `BIRTHDAY` DATETIME DEFAULT NULL,
  `COUNTRY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CONTRACT_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `SALARY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `START_DATE` DATETIME DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`EMPLOYEE_ID`, `DEPARTMENT_ID`),
  KEY `EMPLOYEE_DETAIL_FKIndex1` (`EMPLOYEE_ID`, `DEPARTMENT_ID`),
  CONSTRAINT `employee_detail_ibfk_1` FOREIGN KEY (`EMPLOYEE_ID`, `DEPARTMENT_ID`) REFERENCES `employee` (`EMPLOYEE_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `employee_reward` table : 
#

DROP TABLE IF EXISTS `employee_reward`;

CREATE TABLE `employee_reward` (
  `EMPLOYEE_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `REWARD_DATE` DATETIME NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `REWARD_VALUE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `REWARD_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `MONEY_VALUE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `GIFT_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `GIFT_PRODUCT_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`EMPLOYEE_ID`, `REWARD_DATE`, `DEPARTMENT_ID`),
  KEY `EMPLOYEE_REWARD_FKIndex1` (`EMPLOYEE_ID`, `DEPARTMENT_ID`),
  CONSTRAINT `employee_reward_ibfk_1` FOREIGN KEY (`EMPLOYEE_ID`, `DEPARTMENT_ID`) REFERENCES `employee` (`EMPLOYEE_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `employee_working_days` table : 
#

DROP TABLE IF EXISTS `employee_working_days`;

CREATE TABLE `employee_working_days` (
  `EMPLOYEE_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `WORKING_DAY` DATETIME NOT NULL,
  `PERIOD` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`EMPLOYEE_ID`, `WORKING_DAY`, `PERIOD`, `DEPARTMENT_ID`),
  KEY `EMPLOYEE_WORKING_DAYS_FKIndex1` (`EMPLOYEE_ID`, `DEPARTMENT_ID`),
  CONSTRAINT `employee_working_days_ibfk_1` FOREIGN KEY (`EMPLOYEE_ID`, `DEPARTMENT_ID`) REFERENCES `employee` (`EMPLOYEE_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `gift` table : 
#

DROP TABLE IF EXISTS `gift`;

CREATE TABLE `gift` (
  `GIFT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `GIFT_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `QUANTITY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `SUPPLIER_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `PRICE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`GIFT_ID`, `DEPARTMENT_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `other_transaction_log` table : 
#

DROP TABLE IF EXISTS `other_transaction_log`;

CREATE TABLE `other_transaction_log` (
  `TRANSACTION_DATE` DATETIME NOT NULL,
  `TABLE_NAME` INTEGER(10) UNSIGNED NOT NULL,
  `FIELD_NAME` INTEGER(10) UNSIGNED DEFAULT NULL,
  `ACTION` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `VALUE_BEFORE` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `VALUE_AFTER` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`TRANSACTION_DATE`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `product_unit` table : 
#

DROP TABLE IF EXISTS `product_unit`;

CREATE TABLE `product_unit` (
  `UNIT_ID` INTEGER(11) NOT NULL,
  `UNIT_NAME` VARCHAR(30) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(20) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(20) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(11) DEFAULT '0',
  `DEL_FLG` INTEGER(11) DEFAULT '0',
  PRIMARY KEY (`UNIT_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `published_coupon` table : 
#

DROP TABLE IF EXISTS `published_coupon`;

CREATE TABLE `published_coupon` (
  `COUPON_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PUBLISHED_COUPON_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `START_DATE` DATETIME DEFAULT NULL,
  `END_DATE` DATETIME DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`COUPON_ID`, `PUBLISHED_COUPON_ID`, `DEPARTMENT_ID`),
  KEY `PUBLISHED_COUPON_FKIndex1` (`COUPON_ID`),
  CONSTRAINT `published_coupon_ibfk_1` FOREIGN KEY (`COUPON_ID`) REFERENCES `coupon` (`COUPON_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `purchase_order` table : 
#

DROP TABLE IF EXISTS `purchase_order`;

CREATE TABLE `purchase_order` (
  `PURCHASE_ORDER_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PURCHASE_PRICE` BIGINT(20) DEFAULT NULL,
  `ORDER_STATUS` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CUSTOMER_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `PURCHASE_DESCRIPTION` VARCHAR(500) COLLATE utf8_general_ci DEFAULT '',
  PRIMARY KEY (`PURCHASE_ORDER_ID`, `DEPARTMENT_ID`),
  KEY `PURCHASE_ORDER_FKIndex1` (`CUSTOMER_ID`),
  CONSTRAINT `purchase_order_ibfk_1` FOREIGN KEY (`CUSTOMER_ID`) REFERENCES `customer` (`CUSTOMER_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `tax` table : 
#

DROP TABLE IF EXISTS `tax`;

CREATE TABLE `tax` (
  `TAX_ID` INTEGER(10) UNSIGNED NOT NULL,
  `TAX_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`TAX_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `purchase_order_detail` table : 
#

DROP TABLE IF EXISTS `purchase_order_detail`;

CREATE TABLE `purchase_order_detail` (
  `PURCHASE_ORDER_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PURCHASE_ORDER_DETAIL_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci DEFAULT NULL,
  `QUANTITY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `PRICE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `PURCHASE_STATUS` INTEGER(10) UNSIGNED DEFAULT NULL,
  `TAX_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `PURCHASE_TYPE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  PRIMARY KEY (`PURCHASE_ORDER_ID`, `PURCHASE_ORDER_DETAIL_ID`, `DEPARTMENT_ID`),
  KEY `PURCHASE_ORDER_DETAIL_FKIndex1` (`PURCHASE_ORDER_ID`, `DEPARTMENT_ID`),
  KEY `PURCHASE_ORDER_DETAIL_FKIndex2` (`PRODUCT_ID`),
  KEY `PURCHASE_ORDER_DETAIL_FKIndex3` (`TAX_ID`),
  CONSTRAINT `purchase_order_detail_ibfk_1` FOREIGN KEY (`PURCHASE_ORDER_ID`, `DEPARTMENT_ID`) REFERENCES `purchase_order` (`PURCHASE_ORDER_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `purchase_order_detail_ibfk_2` FOREIGN KEY (`PRODUCT_ID`) REFERENCES `product` (`PRODUCT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `purchase_order_detail_ibfk_3` FOREIGN KEY (`TAX_ID`) REFERENCES `tax` (`TAX_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `purchase_order_detail_log` table : 
#

DROP TABLE IF EXISTS `purchase_order_detail_log`;

CREATE TABLE `purchase_order_detail_log` (
  `PURCHASE_ORDER_DETAIL_LOG_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PURCHASE_ORDER_DETAIL_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`PURCHASE_ORDER_DETAIL_LOG_ID`, `DEPARTMENT_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `purchase_order_log` table : 
#

DROP TABLE IF EXISTS `purchase_order_log`;

CREATE TABLE `purchase_order_log` (
  `PURCHASE_ORDER_LOG_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PURCHASE_ORDER_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`PURCHASE_ORDER_LOG_ID`, `DEPARTMENT_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `purchase_order_promotion` table : 
#

DROP TABLE IF EXISTS `purchase_order_promotion`;

CREATE TABLE `purchase_order_promotion` (
  `PURCHASE_ORDER_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PURCHASE_ORDER_DETAIL_ID` INTEGER(10) UNSIGNED NOT NULL,
  `ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `GIFT_DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_PROMOTION_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `GIFT_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `GIFT_PRODUCT_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`PURCHASE_ORDER_ID`, `PURCHASE_ORDER_DETAIL_ID`, `ID`, `DEPARTMENT_ID`),
  KEY `PURCHASE_ORDER_PROMOTION_FKIndex1` (`PURCHASE_ORDER_ID`, `PURCHASE_ORDER_DETAIL_ID`, `DEPARTMENT_ID`),
  KEY `PURCHASE_ORDER_PROMOTION_FKIndex2` (`DEPARTMENT_PROMOTION_ID`),
  KEY `PURCHASE_ORDER_PROMOTION_FKIndex3` (`GIFT_ID`, `GIFT_DEPARTMENT_ID`),
  CONSTRAINT `purchase_order_promotion_ibfk_1` FOREIGN KEY (`PURCHASE_ORDER_ID`, `PURCHASE_ORDER_DETAIL_ID`, `DEPARTMENT_ID`) REFERENCES `purchase_order_detail` (`PURCHASE_ORDER_ID`, `PURCHASE_ORDER_DETAIL_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `purchase_order_promotion_ibfk_2` FOREIGN KEY (`DEPARTMENT_PROMOTION_ID`) REFERENCES `department_promotion` (`DEPARTMENT_PROMOTION_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `purchase_order_promotion_ibfk_3` FOREIGN KEY (`GIFT_ID`, `GIFT_DEPARTMENT_ID`) REFERENCES `gift` (`GIFT_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `receipt` table : 
#

DROP TABLE IF EXISTS `receipt`;

CREATE TABLE `receipt` (
  `RECEIPT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PURCHASE_ORDER_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `RECEIPT_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `RECEIPT_NUMBER` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`RECEIPT_ID`, `DEPARTMENT_ID`),
  KEY `RECEIPT_FKIndex1` (`PURCHASE_ORDER_ID`, `DEPARTMENT_ID`),
  CONSTRAINT `receipt_ibfk_1` FOREIGN KEY (`PURCHASE_ORDER_ID`, `DEPARTMENT_ID`) REFERENCES `purchase_order` (`PURCHASE_ORDER_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `receipt_out` table : 
#

DROP TABLE IF EXISTS `receipt_out`;

CREATE TABLE `receipt_out` (
  `RECEIPT_OUT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `RECEIPT_OUT_NAME` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`RECEIPT_OUT_ID`, `DEPARTMENT_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `receipt_out_cost` table : 
#

DROP TABLE IF EXISTS `receipt_out_cost`;

CREATE TABLE `receipt_out_cost` (
  `RECEIPT_OUT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `COST_TYPE` INTEGER(10) UNSIGNED NOT NULL,
  `COST` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`RECEIPT_OUT_ID`, `DEPARTMENT_ID`, `COST_TYPE`),
  KEY `RECEIPT_OUT_COST_FKIndex1` (`RECEIPT_OUT_ID`, `DEPARTMENT_ID`),
  CONSTRAINT `receipt_out_cost_ibfk_1` FOREIGN KEY (`RECEIPT_OUT_ID`, `DEPARTMENT_ID`) REFERENCES `receipt_out` (`RECEIPT_OUT_ID`, `DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `return_block_in` table : 
#

DROP TABLE IF EXISTS `return_block_in`;

CREATE TABLE `return_block_in` (
  `BLOCK_IN_ID` INTEGER(10) UNSIGNED NOT NULL,
  `BLOCK_DETAIL_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DESCRIPTION` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`BLOCK_IN_ID`, `BLOCK_DETAIL_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `return_po` table : 
#

DROP TABLE IF EXISTS `return_po`;

CREATE TABLE `return_po` (
  `PURCHASE_ORDER_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PURCHASE_ORDER_DETAIL_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `RETURN_DATE` DATETIME DEFAULT NULL,
  `DESCRIPTION` VARCHAR(5000) COLLATE utf8_general_ci DEFAULT NULL,
  `QUANTITY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME NOT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `NEXT_PURCHASE_ORDER_ID` VARCHAR(20) COLLATE utf8_general_ci DEFAULT NULL,
  PRIMARY KEY (`PURCHASE_ORDER_ID`, `PURCHASE_ORDER_DETAIL_ID`, `DEPARTMENT_ID`, `CREATE_DATE`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `return_product` table : 
#

DROP TABLE IF EXISTS `return_product`;

CREATE TABLE `return_product` (
  `RETURN_PRODUCT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci DEFAULT NULL,
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci DEFAULT NULL,
  `DESCRIPTION` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `QUANTITY` INTEGER(10) UNSIGNED DEFAULT NULL,
  PRIMARY KEY (`RETURN_PRODUCT_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `role` table : 
#

DROP TABLE IF EXISTS `role`;

CREATE TABLE `role` (
  `id` INTEGER(4) NOT NULL,
  `name` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `schedule_template` table : 
#

DROP TABLE IF EXISTS `schedule_template`;

CREATE TABLE `schedule_template` (
  `EMPLOYEE_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `SCHEDULE_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `MONDAY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `TUESDAY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `WEDNESDAY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `THURSDAY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `FRIDAY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `SATURDAY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `SUNDAY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT NULL,
  `START_DATE` DATETIME DEFAULT NULL,
  `END_DATE` DATETIME DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  PRIMARY KEY (`EMPLOYEE_ID`, `SCHEDULE_ID`, `DEPARTMENT_ID`),
  KEY `SCHEDULE_TEMPLATE_FKIndex1` (`DEPARTMENT_ID`),
  CONSTRAINT `schedule_template_ibfk_1` FOREIGN KEY (`DEPARTMENT_ID`) REFERENCES `department` (`DEPARTMENT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `similar_product` table : 
#

DROP TABLE IF EXISTS `similar_product`;

CREATE TABLE `similar_product` (
  `BASE_PRODUCT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `OTHER_PRODUCT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`BASE_PRODUCT_ID`, `OTHER_PRODUCT_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `stock` table : 
#

DROP TABLE IF EXISTS `stock`;

CREATE TABLE `stock` (
  `STOCK_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci DEFAULT NULL,
  `QUANTITY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`STOCK_ID`),
  KEY `STOCK_FKIndex1` (`PRODUCT_ID`),
  CONSTRAINT `stock_ibfk_1` FOREIGN KEY (`PRODUCT_ID`) REFERENCES `product` (`PRODUCT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `stock_defect` table : 
#

DROP TABLE IF EXISTS `stock_defect`;

CREATE TABLE `stock_defect` (
  `STOCK_DEFECT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `QUANTITY` INTEGER(10) UNSIGNED NOT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT '1',
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `STOCK_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DESCRIPTION` VARCHAR(200) COLLATE utf8_general_ci DEFAULT NULL,
  `GOOD_COUNT` INTEGER(10) UNSIGNED DEFAULT '0',
  `ERROR_COUNT` INTEGER(10) UNSIGNED DEFAULT '0',
  `DAMAGE_COUNT` INTEGER(10) UNSIGNED DEFAULT '0',
  `LOST_COUNT` INTEGER(10) UNSIGNED DEFAULT '0',
  `UNCONFIRM_COUNT` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`STOCK_DEFECT_ID`),
  KEY `FK_stock_defect_1` (`PRODUCT_ID`),
  KEY `FK_stock_defect_2` (`PRODUCT_MASTER_ID`),
  KEY `FK_stock_defect_4` (`STOCK_ID`),
  CONSTRAINT `FK_stock_defect_1` FOREIGN KEY (`PRODUCT_ID`) REFERENCES `product` (`PRODUCT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_stock_defect_2` FOREIGN KEY (`PRODUCT_MASTER_ID`) REFERENCES `product_master` (`PRODUCT_MASTER_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_stock_defect_4` FOREIGN KEY (`STOCK_ID`) REFERENCES `stock` (`STOCK_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `stock_defect_status` table : 
#

DROP TABLE IF EXISTS `stock_defect_status`;

CREATE TABLE `stock_defect_status` (
  `DEFECT_STATUS_ID` INTEGER(10) UNSIGNED NOT NULL,
  `DEFECT_STATUS_NAME` VARCHAR(200) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  PRIMARY KEY (`DEFECT_STATUS_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `stock_in` table : 
#

DROP TABLE IF EXISTS `stock_in`;

CREATE TABLE `stock_in` (
  `STOCK_IN_ID` VARCHAR(11) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `STOCK_IN_DATE` DATETIME DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `DESCRIPTION` VARCHAR(2000) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`STOCK_IN_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `stock_in_detail` table : 
#

DROP TABLE IF EXISTS `stock_in_detail`;

CREATE TABLE `stock_in_detail` (
  `STOCK_IN_ID` VARCHAR(11) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci DEFAULT NULL,
  `QUANTITY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `PRICE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `STOCK_IN_TYPE` INTEGER(10) UNSIGNED DEFAULT NULL,
  `SELL_PRICE` INTEGER(10) UNSIGNED DEFAULT NULL,
  PRIMARY KEY (`STOCK_IN_ID`, `PRODUCT_ID`),
  KEY `STOCK_IN_DETAIL_FKIndex1` (`STOCK_IN_ID`),
  KEY `STOCK_IN_DETAIL_FKIndex2` (`PRODUCT_ID`),
  CONSTRAINT `stock_in_detail_ibfk_1` FOREIGN KEY (`STOCK_IN_ID`) REFERENCES `stock_in` (`STOCK_IN_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `stock_in_detail_ibfk_2` FOREIGN KEY (`PRODUCT_ID`) REFERENCES `product` (`PRODUCT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `stock_out` table : 
#

DROP TABLE IF EXISTS `stock_out`;

CREATE TABLE `stock_out` (
  `STOCKOUT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `STOCK_OUT_DATE` DATETIME DEFAULT NULL,
  `DEPARTMENT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `STOCK_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEFECT_STATUS_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  PRIMARY KEY (`STOCKOUT_ID`),
  KEY `FK_stock_out_1` (`STOCK_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `stock_out_cost` table : 
#

DROP TABLE IF EXISTS `stock_out_cost`;

CREATE TABLE `stock_out_cost` (
  `STOCK_OUT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `COST_TYPE` INTEGER(10) UNSIGNED NOT NULL,
  `STOCKOUT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `COST` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`STOCK_OUT_ID`, `COST_TYPE`),
  KEY `STOCK_OUT_COST_FKIndex1` (`STOCKOUT_ID`),
  CONSTRAINT `stock_out_cost_ibfk_1` FOREIGN KEY (`STOCKOUT_ID`) REFERENCES `stock_out` (`STOCKOUT_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `stock_out_detail` table : 
#

DROP TABLE IF EXISTS `stock_out_detail`;

CREATE TABLE `stock_out_detail` (
  `STOCK_OUT_DETAIL_ID` INTEGER(10) UNSIGNED NOT NULL,
  `STOCK_OUT_ID` INTEGER(10) UNSIGNED NOT NULL,
  `PRODUCT_ID` VARCHAR(20) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `PRODUCT_MASTER_ID` VARCHAR(13) COLLATE utf8_general_ci DEFAULT NULL,
  `QUANTITY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  `DEFECT_STATUS_ID` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DESCRIPTION` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  PRIMARY KEY (`STOCK_OUT_DETAIL_ID`),
  KEY `FK_stock_out_detail_1` (`PRODUCT_ID`),
  CONSTRAINT `FK_stock_out_detail_1` FOREIGN KEY (`PRODUCT_ID`) REFERENCES `product` (`PRODUCT_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `supplier` table : 
#

DROP TABLE IF EXISTS `supplier`;

CREATE TABLE `supplier` (
  `SUPPLIER_ID` INTEGER(10) UNSIGNED NOT NULL,
  `SUPPLIER_NAME` VARCHAR(500) COLLATE utf8_general_ci DEFAULT NULL,
  `CREATE_DATE` DATETIME DEFAULT NULL,
  `CREATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `UPDATE_DATE` DATETIME DEFAULT NULL,
  `UPDATE_ID` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EXCLUSIVE_KEY` INTEGER(10) UNSIGNED DEFAULT NULL,
  `DEL_FLG` INTEGER(10) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`SUPPLIER_ID`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `userinfo` table : 
#

DROP TABLE IF EXISTS `userinfo`;

CREATE TABLE `userinfo` (
  `Username` VARCHAR(50) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `Password` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `EMPLOYEE_ID` VARCHAR(20) COLLATE utf8_general_ci DEFAULT NULL,
  `DEPARTMENT_ID` INTEGER(10) DEFAULT NULL,
  PRIMARY KEY (`Username`)
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Structure for the `userrole` table : 
#

DROP TABLE IF EXISTS `userrole`;

CREATE TABLE `userrole` (
  `userid` VARCHAR(50) COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `roleid` INTEGER(4) NOT NULL,
  PRIMARY KEY (`userid`, `roleid`),
  KEY `FK_UserRole_Role` (`roleid`),
  CONSTRAINT `FK_UserRole_Role` FOREIGN KEY (`roleid`) REFERENCES `role` (`id`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_UserRole_UserInfo` FOREIGN KEY (`userid`) REFERENCES `userinfo` (`Username`) ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

#
# Data for the `department` table  (LIMIT 0,500)
#

INSERT INTO `department` (`DEPARTMENT_ID`, `DEPARTMENT_NAME`, `ADDRESS`, `MANAGER_ID`, `ACTIVE`, `CREATE_DATE`, `CREATE_ID`, `UPDATE_DATE`, `UPDATE_ID`, `EXCLUSIVE_KEY`, `DEL_FLG`, `START_DATE`) VALUES 
  (1,'A CHẢY 341','341',0,1,'0001-01-01 00:00:00',NULL,'0001-01-01 00:00:00',NULL,0,0,'2009-03-03 00:58:24'),
  (2,'A CHẢY CMT8','123 CMT8',0,0,'0001-01-01 00:00:00','admin','0001-01-01 00:00:00','admin',0,0,'2009-03-03 00:58:42'),
  (3,'A chảy rún lòi','432',0,0,'0001-01-01 00:00:00',NULL,'0001-01-01 00:00:00',NULL,0,0,'2009-03-04 00:32:37');
COMMIT;

#
# Data for the `employee` table  (LIMIT 0,500)
#

INSERT INTO `employee` (`EMPLOYEE_ID`, `DEPARTMENT_ID`, `CREATE_DATE`, `CREATE_ID`, `UPDATE_DATE`, `UPDATE_ID`, `EXCLUSIVE_KEY`, `DEL_FLG`, `START_DATE`) VALUES 
  ('ANV1',1,'2009-03-03 00:58:42','admin','2009-03-03 01:54:24','admin',0,0,NULL),
  ('BTV1',1,'2009-03-03 00:58:42','admin','2009-03-03 01:54:24','admin',0,0,NULL),
  ('DIEUNTH1',3,'2009-03-04 00:33:12','admin','0001-01-01 00:00:00',NULL,0,0,NULL),
  ('LEOLT1',2,'2009-03-03 00:59:30','admin','0001-01-01 00:00:00',NULL,0,0,NULL),
  ('TAINT1',2,'2009-03-03 00:59:30','admin','0001-01-01 00:00:00',NULL,0,0,NULL);
COMMIT;

#
# Data for the `department_price` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `product_type` table  (LIMIT 0,500)
#

INSERT INTO `product_type` (`TYPE_ID`, `TYPE_NAME`, `CREATE_DATE`, `CREATE_ID`, `UPDATE_DATE`, `UPDATE_ID`, `EXCLUSIVE_KEY`, `DEL_FLG`) VALUES 
  (1,'QUẦN','2009-03-02 23:53:42',NULL,'2009-03-02 23:53:42',NULL,0,0),
  (2,'Ao','2009-03-03 03:19:48',NULL,'2009-03-03 03:19:48',NULL,0,0),
  (3,'fgsfds','2009-03-04 01:59:12',NULL,'2009-03-04 01:59:12',NULL,0,0);
COMMIT;

#
# Data for the `product_size` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `product_color` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `product_master` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `product` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `department_stock` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `department_stock_defect` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `department_stock_in` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `department_stock_in_detail` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `department_stock_out` table  (LIMIT 0,500)
#

INSERT INTO `department_stock_out` (`STOCK_OUT_ID`, `DEPARTMENT_ID`, `STOCK_OUT_DATE`, `CREATE_DATE`, `CREATE_ID`, `UPDATE_DATE`, `UPDATE_ID`, `EXCLUSIVE_KEY`, `DEL_FLG`, `DESCRIPTION`, `DEFECT_STATUS_ID`, `CONFIRM_FLG`) VALUES 
  (1,1,'2009-03-08 04:20:53','2009-03-08 04:20:53','admin','2009-03-08 04:20:53','admin',0,0,NULL,6,0);
COMMIT;

#
# Data for the `department_stock_out_detail` table  (LIMIT 0,500)
#

INSERT INTO `department_stock_out_detail` (`STOCK_OUT_ID`, `PRODUCT_ID`, `PRODUCT_MASTER_ID`, `DEPARTMENT_ID`, `QUANTITY`, `DESCRIPTION`, `CREATE_DATE`, `CREATE_ID`, `UPDATE_DATE`, `UPDATE_ID`, `EXCLUSIVE_KEY`, `DEL_FLG`, `DEFECT_STATUS_ID`) VALUES 
  (1,'090302000007',NULL,1,3,'','2009-03-08 04:20:52','admin','2009-03-08 04:20:52','admin',1,0,NULL);
COMMIT;

#
# Data for the `employee_info` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `purchase_order` table  (LIMIT 0,500)
#

INSERT INTO `purchase_order` (`PURCHASE_ORDER_ID`, `DEPARTMENT_ID`, `PURCHASE_PRICE`, `ORDER_STATUS`, `CUSTOMER_ID`, `CREATE_DATE`, `CREATE_ID`, `UPDATE_DATE`, `UPDATE_ID`, `EXCLUSIVE_KEY`, `DEL_FLG`, `PURCHASE_DESCRIPTION`) VALUES 
  ('0010903030001',1,200000,0,NULL,'2009-03-03 01:55:25','admin','2009-03-03 01:55:25','admin',0,0,'CONKAK1 \r\n'),
  ('0010903060001',1,350000,0,NULL,'2009-03-06 00:50:08','admin','2009-03-06 00:50:08','admin',0,0,'CONKAK1 \r\nCONKAK3 \r\n');
COMMIT;

#
# Data for the `purchase_order_detail` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `role` table  (LIMIT 0,500)
#

INSERT INTO `role` (`id`, `name`) VALUES 
  (1,'Administrator'),
  (2,'Manager'),
  (3,'User'),
  (4,'Guest');
COMMIT;

#
# Data for the `stock` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `stock_defect` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `stock_defect_status` table  (LIMIT 0,500)
#

INSERT INTO `stock_defect_status` (`DEFECT_STATUS_ID`, `DEFECT_STATUS_NAME`) VALUES 
  (0,'Xuất hàng bình thường'),
  (1,'Lỗi'),
  (2,'Hư'),
  (3,'Mất'),
  (4,'Xuất tạm để sửa hàng'),
  (5,'Xuất trả về nhà sản xuất'),
  (6,'Xuất trả về kho chính');
COMMIT;

#
# Data for the `stock_in` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `stock_in_detail` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `stock_out` table  (LIMIT 0,500)
#

INSERT INTO `stock_out` (`STOCKOUT_ID`, `STOCK_OUT_DATE`, `DEPARTMENT_ID`, `CREATE_DATE`, `CREATE_ID`, `UPDATE_DATE`, `UPDATE_ID`, `EXCLUSIVE_KEY`, `DEL_FLG`, `STOCK_ID`, `DEFECT_STATUS_ID`) VALUES 
  (1,'2009-03-08 01:25:04',0,'2009-03-08 01:25:04','admin','2009-03-08 01:25:04','admin',0,0,0,4),
  (2,'2009-03-08 01:28:56',0,'2009-03-08 01:28:56','admin','2009-03-08 01:28:56','admin',0,0,0,4),
  (3,'2009-03-08 01:29:58',0,'2009-03-08 01:29:58','admin','2009-03-08 01:29:58','admin',0,0,0,4),
  (5,'2009-03-08 02:35:13',0,'2009-03-08 02:35:13','admin','2009-03-08 02:35:13','admin',0,0,0,5);
COMMIT;

#
# Data for the `stock_out_detail` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `userinfo` table  (LIMIT 0,500)
#

INSERT INTO `userinfo` (`Username`, `Password`, `EMPLOYEE_ID`, `DEPARTMENT_ID`) VALUES 
  ('admin','admin',NULL,NULL),
  ('manager','manager',NULL,NULL),
  ('test1','test1',NULL,NULL),
  ('user','user',NULL,NULL);
COMMIT;

#
# Data for the `userrole` table  (LIMIT 0,500)
#

INSERT INTO `userrole` (`userid`, `roleid`) VALUES 
  ('admin',1),
  ('manager',2),
  ('test1',1),
  ('user',3);
COMMIT;



/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;